/.env
/__pycache__
guild_dictionaries.json
openapi.json
speakers.json
dictionary.json
docker/diff.patch
docker/dockerfile
docker/AivisSpeech-Engine/presets.yaml
docker/AivisSpeech-Engine/user_dict.json
docker/AivisSpeech-Engine/user.dic
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/.no_exist/682b736eaa81ed30d9b3d5b6ebce1d9fb3c3e543/added_tokens.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/.no_exist/682b736eaa81ed30d9b3d5b6ebce1d9fb3c3e543/spiece.model
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/.no_exist/d701ec67708287b20d2063270f6b535e6eed09ab/added_tokens.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/.no_exist/d701ec67708287b20d2063270f6b535e6eed09ab/chat_template.jinja
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/.no_exist/d701ec67708287b20d2063270f6b535e6eed09ab/spiece.model
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/blobs/4e0fdefcccde8187db648276f62a3e79bb3350de
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/blobs/8ab2175580e45760875557201e5543019ca3039b
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/blobs/23f633ae7c5900ff82b35a428b67a54e7e7911d5d6a6dcfc77967be8f1c94dc6
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/blobs/a8b3208c2884c4efb86e49300fdd3dc877220cdf
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/blobs/b4b6a43903288df69af10e6214e2e32b0af99dde
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/refs/main
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/682b736eaa81ed30d9b3d5b6ebce1d9fb3c3e543/special_tokens_map.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/682b736eaa81ed30d9b3d5b6ebce1d9fb3c3e543/tokenizer_config.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/682b736eaa81ed30d9b3d5b6ebce1d9fb3c3e543/tokenizer.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/682b736eaa81ed30d9b3d5b6ebce1d9fb3c3e543/vocab.txt
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/d701ec67708287b20d2063270f6b535e6eed09ab/model_fp16.onnx
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/d701ec67708287b20d2063270f6b535e6eed09ab/special_tokens_map.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/d701ec67708287b20d2063270f6b535e6eed09ab/tokenizer_config.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/d701ec67708287b20d2063270f6b535e6eed09ab/tokenizer.json
docker/AivisSpeech-Engine/BertModelCaches/models--tsukumijima--deberta-v2-large-japanese-char-wwm-onnx/snapshots/d701ec67708287b20d2063270f6b535e6eed09ab/vocab.txt
docker/AivisSpeech-Engine/Models/1e5ae2f1-b3bc-4d90-b618-d891a3d7383b.aivmx
docker/AivisSpeech-Engine/Models/a59cb814-0083-4369-8542-f51a29e72af7.aivmx
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
